@import "base.css";
@import "education.css";
@import "experience.css";
@import "interests.css";
@import "contacts.css";
@import "langs.css";
@import "profile.css";
@import "tools.css";

:root {
  --green: rgba(40, 217, 121, 1);
  --gray-bg: rgba(240, 240, 240, 1);
  --gray-text: rgba(92, 92, 92, 1);
  --yellow: rgba(246, 237, 30, 1);
  --yellow-opacity: rgba(126, 115, 18, 0.4);
  --green-text: rgba(20, 144, 99, 1);

  --font-main: "Poppins", sans-serif;
}

* {
  /* outline: 1px solid red;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  resize: none;
}

html,
body {
  max-width: 100%;
  /* overflow-x: hidden; */
}

body {
  font-family: var(--font-main);
  background: white;
  /* color: var(--gray-text); */
  line-height: 1.5;
  width: auto;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  color: black;
  font-weight: 600;
}

.editable {
  cursor: pointer;
  position: relative;
  transition: background 0.2s;
  height: auto;
}

.editable:hover {
  background: rgba(255, 255, 0, 0.15);
}

.page-header {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.page-header button {
  padding: 10px 20px;
  font-weight: bold;
  background: var(--green);
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.resume-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: var(--gray-bg);
}

.resume-content {
  width: 1190px;
  height: auto;
  background-color: white;
  padding: 30px 40px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .resume-content {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .resume-section-block-1,
  .resume-section-block-3 {
    flex-direction: column;
  }
  .resume-section-block-1 .profile,
  .resume-section-block-1 .languages,
  .resume-section-block-1 .tools,
  .education-wrapper,
  .bottom-info-wrapper {
    width: 100%;
  }
}
